body {
    padding: 20px;
}

.title {
    margin: auto;
}

.content {
    font-size: 20px;
}

.flan {
    font-size: 20px;
}

.flan img {
    width: 200px;
    height: 300px;

}

div.flan {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
div.container {
    text-align: center;
    padding: 10px 20px;
}


.list {
    margin-left: 20px;
}